/*genreal page style */
body {
    margin: 0;
  }
  
  html {
    font-family: 'Helvetica neue', Arial, 'sans serif';
    font-size: 10px;
    background-color: #ccc;
  }
  /*styles specific to the setup of the card container*/ 
  .card {
    width: 350px;
    height: 200px;
    background-color: #ff84de; /* Change to your preferred color */
    border: 1px solid #ccc;
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 20px;
  }
  /*styles specific to the header and footer*/ 
  header {
    background: linear-gradient(to bottom, #8b0058, #ff99ee);
    padding: 0;
    height: 4em; /* 30px in ems */
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  header h2 {
    font-size: 1.25em; /* 20px */
    line-height: 2.4em; /* Center vertically inside 30px content box */
    color: white;
  }
  footer {
    background: linear-gradient(to top, #8b0058, #ff99ee);
    height: 4em; /* 30px in ems */
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  footer p {
    font-size: 0.9375em; /* 15px in ems */
    line-height: 2.4em; /* Center vertically inside 30px content box */
    color: white;
  }
  /*styles specific to the main business card contents*/
  article {
    height: 10em; /* 120px in ems */
    background-color: rgba(207, 92, 180, 0.5); /* Semi-transparent black */
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  article img {
    float: right;
    max-height: 100%;
    border-radius: 50%; /* Optional for a circular image */
  }
  
  article p {
    color: #fff;
    padding-left: 10px;
  }
  