body{
    background-color: rgb(115, 115, 196);
    font-family: helvetica, sans-serif;
    width: 350px;
  }

  label {
    font-weight: bold;
  }

  div {
    padding-bottom: 20px;
    color: aqua;
  }

  input[type="text"] {
    padding: 5px;
    width: 150px;
  }

  p {
    background: #120032;
    color: #e21cba;
    padding: 10px;
    visibility: hidden;
  }